@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* Variables */
/* Mixins */
body, html {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.local {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #EAEAEA;
  font-size: 1.2rem;
  padding: 1.25rem 1rem;
}
.local__icon {
  margin-right: 1rem;
}
.local__text {
  font-weight: 700;
}

.hero {
  padding: 2rem;
  text-align: center;
  background: #F6F6F6;
}
.hero__title {
  margin: 0;
}
.hero__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.hero__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.hero__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.tuto {
  padding: 2rem 1rem;
}
.tuto .container {
  margin: auto;
}
.tuto__title {
  margin-top: 0;
}
.tuto__icon {
  color: #7e7e7e;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.tuto__steps {
  padding: 0;
  list-style: none;
  counter-reset: counterSteps;
}
.tuto__step {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  margin: 1rem 0 1rem;
  padding: 1.5rem;
  background: #F6F6F6;
  position: relative;
  display: flex;
}
.tuto__step:hover {
  background: #F5EDFF;
}
.tuto__step:hover i {
  color: #9356DC;
}
.tuto__step::before {
  counter-increment: counterSteps;
  content: counter(counterSteps);
  height: 1.5rem;
  width: 1.5rem;
  background: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  position: absolute;
  left: -10px;
  top: 1.4rem;
}

.restaurants {
  background: #F6F6F6;
  padding: 2rem 1rem;
}
.restaurants .container {
  margin: auto;
}
.restaurants .card {
  color: inherit;
  text-decoration: none;
}
.restaurants .card__article {
  position: relative;
  border-radius: 1rem;
  background: white;
  margin-bottom: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.restaurants .card .card__badge {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  background: #99E2D0;
  padding: 0.5rem;
  border-radius: 0.125rem;
  color: #008766;
}
.restaurants .card .card__img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card__footer {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem;
}
.restaurants .card__footer .card__title {
  margin: 0 0 0.25rem;
}
.restaurants .card__footer .card_subtitle {
  margin: 0;
}
.restaurants .card__content {
  flex: 1;
}
.restaurants .card__btn {
  font-size: 2em;
  display: flex;
  align-items: center;
}
.restaurants .card__btn::before {
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
.heroImg--lanoteenchantee {
  max-height: 17rem;
}

.header--withBackArrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 39%;
  font-size: 1.2rem;
  color: black;
}

.menu {
  margin-top: -4rem;
  background: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: Shrikhand, "cursive";
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid transparent;
  padding: 0;
  background: #F6F6F6;
}

.menuItem {
  background: white;
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.menuItem__header {
  white-space: nowrap;
  overflow: hidden;
}
.menuItem__title {
  margin: 0;
}
.menuItem__description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItem__price {
  display: flex;
  align-items: flex-end;
  padding-left: 0.5rem;
}

.submenu {
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.submenu__title::after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 0.15rem;
  background: #99E2D0;
  bottom: 0;
  left: 0;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  margin: 0;
  font-family: "Shrikhand", cursive;
  text-align: center;
}

.footer {
  background: #353535;
}
.footer .container {
  padding: 1rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  color: white;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/* */

/*# sourceMappingURL=style.css.map */
