@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* Variables */
/* Mixins */
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes filling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes itemAppear {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
body, html {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__itemContainer p {
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: filling 1s;
}

.local {
  text-align: center;
  background: #EAEAEA;
  padding: 1.25rem 1rem;
}
.local h2 {
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.local__icon {
  margin-right: 1rem;
}
.local__text {
  font-weight: 700;
}

.hero {
  padding: 2rem;
  text-align: center;
  background: #F6F6F6;
}
.hero__title {
  margin: 0;
}
.hero__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.hero__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.25s;
}
.hero__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.container {
  margin: auto;
  max-width: 1280px;
}

.tuto {
  padding: 2rem 1rem;
}
.tuto .container {
  margin: auto;
  position: relative;
}
.tuto__title {
  margin-top: 0;
}
.tuto__icon.fas {
  color: #7e7e7e;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.tuto__steps {
  padding: 0;
  list-style: none;
  counter-reset: counterSteps;
}
.tuto__step {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  margin: 1rem 0 1rem 0.75rem;
  padding: 1.5rem;
  background: #F6F6F6;
  position: relative;
  display: flex;
}
.tuto__step:hover {
  background: #F5EDFF;
}
.tuto__step:hover i {
  color: #9356DC;
}
.tuto__step::before {
  counter-increment: counterSteps;
  content: counter(counterSteps);
  height: 1.5rem;
  width: 1.5rem;
  background: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  position: absolute;
  left: -10px;
  top: 1.4rem;
}

.restaurants {
  background: #F6F6F6;
  padding: 2rem 1rem;
}
.restaurants .container {
  margin: auto;
}

.card {
  color: inherit;
  text-decoration: none;
}
.card__article {
  position: relative;
  border-radius: 1rem;
  background: white;
  margin-bottom: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.card .card__badge {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  background: #99E2D0;
  padding: 0.5rem;
  border-radius: 0.125rem;
  color: #008766;
}
.card .card__img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card__footer {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem;
}
.card__footer .card__title {
  margin: 0 0 0.25rem;
}
.card__footer .card_subtitle {
  margin: 0;
}
.card__content {
  flex: 1;
}
.card__btn {
  font-size: 2em;
  display: flex;
  align-items: center;
  background: transparent;
  border: transparent;
  padding: 0;
  height: 2rem;
  width: 2rem;
}
.card__like {
  background: white !important;
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
.heroImg--lanoteenchantee {
  max-height: 17rem;
}

.header--withBackArrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 39%;
  font-size: 1.2rem;
  color: black;
}

.menu {
  margin-top: -4rem;
  background: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  z-index: 1;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: Shrikhand, "cursive";
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid transparent;
  padding: 0;
  background: black;
  cursor: pointer;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  content: "";
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: 0.5s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

.menuItem {
  background: white;
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  overflow: hidden;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItem__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: bold;
}
.menuItem__confirmation {
  background: #99E2D0;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(-180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.submenu {
  padding: 0 1rem;
  overflow: hidden;
  max-width: 100%;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.submenu__title::after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 0.15rem;
  background: #99E2D0;
  bottom: 0;
  left: 0;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.25s;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 576px) and (max-width: 768px) {
  .tuto__steps {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  .tuto__step {
    display: flex;
    width: calc(33.33% - 90px);
    margin-left: calc(30px + 0.75rem);
  }

  .cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .cards > * {
    flex: 0 0 auto;
    width: calc(50% - 30px);
    margin-left: 30px;
  }

  .heroImg {
    max-height: 25rem;
  }

  .submenus {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .submenu {
    flex: 0 0 auto;
    width: 45%;
  }
}
@media (min-width: 768px) and (max-width: 876px) {
  .tuto__steps {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  .tuto__step {
    display: flex;
    width: calc(33.33% - 90px);
    margin-left: calc(30px + 0.75rem);
  }
  .tuto__step::before {
    top: 2rem;
  }

  .cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .cards > * {
    flex: 0 0 auto;
    width: calc(50% - 30px);
    margin-left: 30px;
  }

  .heroImg {
    max-height: 25rem;
  }

  .submenus {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .submenu {
    flex: 0 0 auto;
    width: 45%;
  }
}
@media (min-width: 877px) {
  .tuto__steps {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  .tuto__step {
    display: flex;
    width: calc(33.33% - 90px);
    margin-left: calc(30px + 0.75rem);
  }

  .cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .cards > * {
    flex: 0 0 auto;
    width: calc(50% - 30px);
    margin-left: 30px;
  }

  .heroImg {
    max-height: 25rem;
  }

  .submenus {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .submenu {
    flex: 0 0 auto;
    width: 29%;
  }
}
.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  margin: 0;
  font-family: "Shrikhand", cursive;
  text-align: center;
}

.footer {
  background: #353535;
}
.footer .container {
  padding: 1rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
