.heroImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    
    &--lanoteenchantee {
      max-height: $max-height--lanoteenchantee;
    }
  }

.header {
  &--withBackArrow {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 39%;
    font-size: 1.2rem;
    color: black;
  }
}

.menu {
    margin-top: -4rem;
    background: $bg_second;
    border-radius: 2rem 2rem 0 0;
    position: relative;

    &__header {
        padding: 1rem 2rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
      font-family: Shrikhand, "cursive";
    }

    &__btn {
      height: 2rem;
      width: 2rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0 solid transparent;
      padding: 0;
      background: $bg_second;
    }
}

.menuItem {
  background: white;
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  @include box-shadow;

  &__header {
    white-space: nowrap;
    overflow: hidden;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
}

.submenu {
  padding: 0 1rem;

  &__title {
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    padding-bottom: 0.5rem;
    font-size: 1rem;

    &::after {
      position: absolute;
      content: "";
      width: 2.5rem;
      height: 0.15rem;
      background: $couleur_tertiaire;
      bottom: 0;
      left: 0;
    }
  }
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  @include btn;
}