// Le format tablette

@media (min-width: 768px) {
    .cards {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -30px;
    
        & > * {
        flex: 0 0 auto;
        width: 25%;
        width: calc(50% - 30px);
        margin-left: 30px;
        }
    }

    .tuto__steps {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -30px;
    }

    .tuto__step {
        display: flex;
        width: calc(33.33% - 90px);
        margin-left: calc(30px + 0.75rem);
    }
}