@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
} 

@keyframes filling {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
}

@keyframes itemAppear {
    0% {
      transform: scaleY(0);
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
}