/* Variables */

$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$colour_shadow : rgba(0, 0, 0, 0.125);
$bg_local : #EAEAEA;
$bg_second : #F6F6F6;
$bg_footer : #353535;
$shadow_size_default : 0.25rem;
$blur_default : 0.5rem;
